.editor-table,
.editor-table th,
.editor-table td {
  border: initial;
  border-collapse: initial;
}

.editor-table tr {
  text-align: initial;
}

.editor-table input {
  width: 300px;
}

.red-background {
  background-color: red;
  color: white;
}